.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* New Code */

* {
  box-sizing: border-box;
 }
 
 html,
 body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
 }

 /* Demo text with animation */
.text{
  margin-top: 250px;
}

:root {
  --border-color-start: #ff8000;
  --border-color-end: rgb(0, 247, 255);
  --border-width: 15px;
  --animation-duration: 5s;
}

@keyframes borderAnimation {

  /* First part  */
  0% {
    transform: scale(1.5);
    border-color: var(--border-color-start);
    opacity: 1;
  }
  25% {
    transform: scale(1.1);
    border-color: var(--border-color-end);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.2);
    border-color: var(--border-color-start);
    opacity: 0.5;
  }
  75% {
    transform: scale(1.1);
    border-color: var(--border-color-end);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    border-color: var(--border-color-start);
    opacity: 1;
  }
}

.text-border-animation {
  display: inline-block;
  padding: 10px;
  font-size: 24px;
  position: relative;
  border: var(--border-width) dotted var(--border-color-start);
  animation: borderAnimation var(--animation-duration) ease-in-out infinite;
  transition: border-color 0.8s ease;  /* smooth transition between colors */
}




 header {
  background: #2e8b57;
  color: #fff;
  padding: 10px 30px;
 }
.icon{
  opacity: 1.5;
 
}

/* Nav bar */

nav ul li {
  display: inline-block;
 }

 
 nav {
  width: auto;
  left: 0;
  text-align: left;
 }

 nav ul {
  list-style: none;
  margin: 0;         
  padding: 0;                    
 }
 nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 30px;
  transition: 0.3s ease all;                                
 }

 nav ul li a:hover {
  background: #d79231;                  
}

/* login & Register Nav */

div.signin{
  float:right;
  text-align: center;
}


/* Register */

.Register{
 color: #d79231;
 font-size: 20px;
 font-weight: bold;
 text-align: center;
 margin: 80px;


 button {
  margin: 10px;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

button:hover {
  background-color: #b36800;
}

input {
  padding: 6px;
  margin-bottom: 15px;
  border: 3px solid #ccc;
  border-radius: 10px;
}
label {
  padding: 5px;
  font-weight: bold;
}

}

/* Login */
.Login{
  color: #d79231;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 80px;
  

  button {
    margin: 10px;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #b36800;
  }
  
  input {
    padding: 6px;
    margin-bottom: 15px;
    border: 3px solid #ccc;
    border-radius: 10px;
  }
    .icon1{
    text-align: center; 
    margin-bottom: 2px;
  }

}